html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  text-align: justify;
}

blockquote {
  display: block;
  margin: 1em 3em;
  padding: 1em 3em;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
}

a:link {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #808080;
  text-decoration: underline;
}

a:visited {
  color: #000000;
  text-decoration: underline;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

blockquote {
  display: block;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2em;
  margin: 2em 0 0;
  text-align: center;
  border-top: 0.25em solid #b6c2cd;
  background-color: #868e96;
  color: #ffffff;
}

.center-landing {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  font-size: 3em;
  text-align: center;
  vertical-align: middle;
}

.pulsate {
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}